.d{
    font-family: "Jacquard 12";
    font-size: 45px;
    letter-spacing: 4%;
}
.a{
    font-family: "Jacques Francois";
    font-size: 30px;
}
.nav-section{
    background:linear-gradient(#1F4861,#3C7592,#4B8BAB,#59A1C4) ;
}
.bg{
    background-color: #1F305A;
    color: #fff;
    border: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}
.hero-img{
    min-height: 500px;
}
.plant{
    position: absolute;
    width: 170px;
    bottom: 40px;
    z-index: 1;
    left: 250px;
}
.chair{
    position: absolute;
    width: 420px;
    bottom: 40px;
    right: 20px;
    z-index: 2;
}
.lamp{
    position: absolute;
    width: 180px;
    height: 480px;
    right: 0px;
    bottom: 40px;
    z-index: 1;
}
.hero h1{
    line-height: 1.2;
}
.text-clr{
    color: #1F4861;
}
.text-clr:hover{
    color: #1F305A;
    background-color: white !important;
}
.line{
    width: 2px;
    height: 45px;
    background-color: #fff;
}
.line2{
    height: 2px;
    width: 40px;
    background-color: #fff;
}
.line3{
    height: 2px;
    width: 100px;
    background-color: #1f4761;;
}
.color{
    background-color: #BFD3DD;
    box-shadow: 0 0 11px rgba(255,223,230,1);
    padding: 20px;
    text-align: center;
}
.color img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}
.bt-clr{
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(188, 227, 246, 1));
    color: rgba(31, 72, 97, 1);
    box-shadow: rgba(7, 66, 121, 0.32);
}
.room-card{
    position: relative;
}
.room-card img{
    width: 100%;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 70%;
}
.overlay .btn{
    font-weight: 600;
    border-radius: 8px;
    box-shadow:0,8px,20px, rgba(255, 223, 239, 1);
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(188, 227, 246, 1));
}
.h-clr{
    color: #1f4761;
}
.nav-link{
    font-size: 15px;
}
.all-btn{
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(188, 227, 246, 1));
    box-shadow:0 0 4.7px 3px rgba(7,66,121,.3);
}
.blog-content{
    background: linear-gradient(rgba(31, 72, 97, 1),rgba(60, 117, 146, 1),rgba(75, 139, 171, 1),rgba(89, 161, 196, 1));
}
.footer{
    background:linear-gradient(#1F4861,#3C7592,#4B8BAB,#59A1C4) ;
}
.call-btn{
    background-color: #151347;
    color: #fff;
    box-shadow: 0 0 26.3px rgba(255,255,255,.8);
}
.call-btn:hover{
    background-color: #151347;
    color: #fff;  
}
.icon{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}